---

export interface TeamMemberProps {
  name: string;
  location: string;
  githubUrl: string;
  imageUrl: string;
  email: string;
  websiteUrl: string;
  linkedInUrl: string;
}

const { name, location, githubUrl, imageUrl, email, websiteUrl, linkedInUrl }: TeamMemberProps = Astro.props as TeamMemberProps;

import { Icon } from 'astro-icon/components'
---
<style>
  .team-member h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
  }

</style>

<li class="team-member flex flex-col items-center justify-between p-2 rounded-lg shadow-md sm:w-1/2 md:w-1/4 lg:w-1/5 xl:w-1/5">
  <div class="flex flex-col items-center justify-between flex-grow">
    <a href={websiteUrl} target="_blank">
      <img src={imageUrl} alt={name} class="w-60 h-60 rounded-full mb-4"/>
    </a>
    <div class="name-location-container flex flex-col items-center justify-between flex-grow">
      <h3 class="mt-0 mb-2 leading-normal text-center text-black text-2xl" style="min-height: 2em;">
        <div set:html={name.split(' ').join('<br>')}></div>
      </h3>
      <p class="text-center">{location}</p>
    </div>
  </div>
  <ul class="flex flex-row items-center justify-start space-x-4 list-none p-0">
    <!-- li shouldn't have bullets here -->
    <li class="flex justify-center items-center w-full">
      <a href={`mailto:${email}`} target="_blank">
        <Icon name="mdi:email" size={24}/>
      </a>
    </li>
    <li class="flex justify-center items-center w-full">
      <a href={websiteUrl} target="_blank">
        <Icon name="mdi:web" size={24}/>
      </a>
    </li>
    <li class="flex justify-center items-center w-full">
      <a href={linkedInUrl} target="_blank">
        <!-- <img src="./src/assets/icons/linked_in_icon.png" alt="linkedin" />
         -->
         <Icon name="mdi:linkedin" size={24}/>
      </a>
    </li>
    <li class="flex justify-center items-center w-full">
      <a href={githubUrl} target="_blank">
        <Icon name="mdi:github" size={24}/>
      </a>
    </li>
  </ul>
</li>